extends layout

block content
    div.container
        div.jumbotron
            h1 MY KANBANBOARD
            p If you wanna add task, press "Add Task" button.
            div.form-group
              form( action='/createTask', method='post' )
                input( type='text' name='contents' class='form-control')
                button(type='submit' class='btn btn-primary') AddTask
    div.container
        div.row
            div.col-md-4
                li.list-group-item.active TO-DO
                  span.badge= todoTasks.length
                each val in todoTasks
                  div.input-group
                    div.input-group-btn
                      form(action='/removeTask', method='post')
                        button(type='submit' class='btn btn-danger' name='contents' value= val) D
                    li.list-group-item= val
                    div.input-group-btn
                      form(action='/updateTask', method='post')
                        input(type='hidden' name='status' value='In-Progress' )
                        button(type='submit' class='btn btn-info' name='contents' value= val) >
            div.col-md-4
              li.list-group-item.active In-Progress
                span.badge= inProgressTasks.length
              each val in inProgressTasks
                div.input-group
                  div.input-group-btn
                    form(action='/updateTask', method='post')
                      input(type='hidden' name='status' value='TO-DO' )
                      button(type='submit' class='btn btn-info' name='contents' value= val) <
                  li.list-group-item= val
                  div.input-group-btn
                    form(action='/updateTask', method='post')
                      input(type='hidden' name='status' value='Done' )
                      button(type='submit' class='btn btn-info' name='contents' value= val) >
            div.col-md-4
              li.list-group-item.active Done
                span.badge= doneTasks.length
              each val in doneTasks
                div.input-group
                  div.input-group-btn
                    form(action='/updateTask', method='post')
                      input(type='hidden' name='status' value='In-Progress' )
                      button(type='submit' class='btn btn-info' name='contents' value= val) <
                  li.list-group-item= val
                  div.input-group-btn
                    form(action='/removeTask', method='post')
                      button(type='submit' class='btn btn-danger' name='contents' value= val) D

//http://www.w3schools.com/bootstrap/bootstrap_buttons.asp
